<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间(使用包名)，作用就是对sql进行分类化管理 -->
<mapper namespace="com.neuedu.XiaoRyi.Mapper.Neu_EmpMapper">

	<!-- 参数ID,参数类型 #{}传递的参数 -->
	<!-- 添加 -->
	<insert id="add" parameterType="com.neuedu.XiaoRyi.pojo.Neu_Emp">
		INSERT INTO NEU_EMP (NEU_ID ,NEU_NAME ,NEU_EMAIL ,NEU_TEL ,NEU_ADDRE ,NEU_AGE ,NEU_GENDER ,NEU_EMPNO ,NEU_DELETE)
		VALUES (SQ_NEU_EMP_ID.nextval
		, #{neu_name,jdbcType=VARCHAR}
		, #{neu_email,jdbcType=VARCHAR}
		, #{neu_tel ,jdbcType=BIGINT}
		, #{neu_addre,jdbcType=VARCHAR}
		, #{neu_age,jdbcType=BIGINT}
		, #{neu_sex,jdbcType=BIGINT}
		, #{neu_empno,jdbcType=BIGINT}
		, #{neu_delete,jdbcType=BIGINT}
		)

	</insert>
	

	<!-- 删除 -->
	<delete id="delete" parameterType="long">
		DELETE NEU_EMP WHERE
		NEU_ID=#{value}
	</delete>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.neuedu.XiaoRyi.pojo.Neu_Emp">
		UPDATE NEU_EMP SET 
		<trim prefixOverrides="," suffixOverrides=",">
			<if test="neu_name!=null">
				NEU_NAME=#{neu_name,jdbcType=VARCHAR},
			</if>
			<if test="neu_email!=null">
				NEU_EMAIL=#{neu_email,jdbcType=VARCHAR},
			</if>
			<if test="neu_tel!=null">
				NEU_TEL=#{neu_tel ,jdbcType=BIGINT},
			</if>
			<if test="neu_addre!=null">
				NEU_ADDRE=#{neu_addre,jdbcType=VARCHAR},
			</if>
			<if test="neu_name!=null">
				NEU_AGE=#{neu_name,jdbcType=VARCHAR},
			</if>
			<if test="neu_sex!=null">
				NEU_GENDER=#{neu_sex,jdbcType=BIGINT},
			</if>
			<if test="neu_empno!=null">
				NEU_EMPNO=#{neu_empno,jdbcType=BIGINT},
			</if>
			<if test="neu_delete!=null">
				NEU_DELETE=#{neu_delete,jdbcType=BIGINT},
			</if>
		</trim>
		WHERE NEU_ID =#{neu_id,jdbcType=BIGINT}

	</update>
	
	<!-- 查询所有 -->
	<select id="findAll" resultType="com.neuedu.XiaoRyi.pojo.Neu_Emp">
		SELECT
		NEU_ID,NEU_NAME,NEU_EMAIL,NEU_TEL,NEU_ADDRE,NEU_AGE,NEU_GENDER,NEU_EMPNO,NEU_DELETE
		FROM NEU_EMP

	</select>

	<!-- 查询实例 -->
	<select id="findByExample" parameterType="com.neuedu.XiaoRyi.pojo.Neu_Emp"
		resultType="com.neuedu.XiaoRyi.pojo.Neu_Emp">

		SELECT NEU_ID,NEU_NAME,NEU_EMAIL,NEU_TEL,NEU_ADDRE,NEU_AGE,NEU_GENDER,NEU_EMPNO,NEU_DELETE
		FROM NEU_EMP
		<where>
			<if test="neu_id!=null">
				AND NEU_ID=#{neu_id,jdbcType=BIGINT}
			</if>
			<if test="neu_name!=null">
				AND NEU_NAME=#{neu_name,jdbcType=VARCHAR}
			</if>
			<if test="neu_email!=null">
				AND NEU_EMAIL=#{neu_email,jdbcType=VARCHAR}
			</if>
			<if test="neu_tel!=null">
				AND NEU_TEL=#{neu_tel ,jdbcType=BIGINT}
			</if>
			<if test="neu_addre!=null">
				AND NEU_ADDRE=#{neu_addre,jdbcType=VARCHAR}
			</if>
			<if test="neu_name!=null">
				AND NEU_AGE=#{neu_name,jdbcType=VARCHAR}
			</if>
			<if test="neu_sex!=null">
				AND NEU_GENDER=#{neu_sex,jdbcType=BIGINT}
			</if>
			<if test="neu_empno!=null">
				AND NEU_EMPNO=#{neu_empno,jdbcType=BIGINT}
			</if>
			<if test="neu_delete!=null">
				AND NEU_DELETE=#{neu_delete,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 根据ID查询 -->
	<select id="findById" parameterType="long" resultType="com.neuedu.XiaoRyi.pojo.Neu_Emp">
		SELECT NEU_ID,NEU_NAME,NEU_EMAIL,NEU_TEL,NEU_ADDRE,NEU_AGE,NEU_GENDER,NEU_EMPNO,NEU_DELETE
		FROM NEU_EMP 
		WHERE NEU_ID=#{value}
	</select>

	<!-- 分页查询 -->
	<select id="findByPage" resultType="com.neuedu.XiaoRyi.pojo.Neu_Emp">
		SELECT
		RN,NEU_ID,NEU_NAME,NEU_EMAIL,NEU_TEL,NEU_ADDRE,NEU_AGE,NEU_GENDER,NEU_EMPNO,NEU_DELETE
		FROM (SELECT ROWNUM
		RN,NEU_ID,NEU_NAME,NEU_EMAIL,NEU_TEL,NEU_ADDRE,NEU_AGE,NEU_GENDER,NEU_EMPNO,NEU_DELETE
		FROM NEU_EMP)
		WHERE RN BETWEEN (#{page}-1)*(#{total}+1) AND (#{page})*(#{total})


	</select>


	

</mapper>