<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NeueduXiaoRui</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.neuedu.XiaoRyi.Filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>Encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.EmpLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/empLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uniquenessServlet</display-name>
    <servlet-name>uniquenessServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.UniquenessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uniquenessServlet</servlet-name>
    <url-pattern>/uniquenessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clockInServlet</display-name>
    <servlet-name>clockInServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.EmpClockInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clockInServlet</servlet-name>
    <url-pattern>/empclockInServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ask_LeaveServlet</display-name>
    <servlet-name>ask_LeaveServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.EmpAsk_LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ask_LeaveServlet</servlet-name>
    <url-pattern>/empask_LeaveServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>retroactiveServlet</display-name>
    <servlet-name>retroactiveServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.EmpRetroactiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retroactiveServlet</servlet-name>
    <url-pattern>/empretroactiveServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>previewServlet</display-name>
    <servlet-name>previewServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.EmpPreviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>previewServlet</servlet-name>
    <url-pattern>/emppreviewServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empLoginServlet</display-name>
    <servlet-name>empLoginServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empLoginServlet</servlet-name>
    <url-pattern>/managerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scheduleServlet</display-name>
    <servlet-name>scheduleServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.EmpScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleServlet</servlet-name>
    <url-pattern>/empscheduleServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerSechduleServlet</display-name>
    <servlet-name>managerSechduleServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManagerSechduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerSechduleServlet</servlet-name>
    <url-pattern>/managerSechduleServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerClockServlet</display-name>
    <servlet-name>managerClockServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManagerClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerClockServlet</servlet-name>
    <url-pattern>/managerClockServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageUserServlet</display-name>
    <servlet-name>manageUserServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManageUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageUserServlet</servlet-name>
    <url-pattern>/manageUserServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>statisticalAnalysisServlet</display-name>
    <servlet-name>statisticalAnalysisServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManagerStatisticalAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statisticalAnalysisServlet</servlet-name>
    <url-pattern>/managerstatisticalAnalysisServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerExportExcelServlet</display-name>
    <servlet-name>managerExportExcelServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManagerExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerExportExcelServlet</servlet-name>
    <url-pattern>/managerExportExcelServlet.action</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>sessionFilter</display-name>
    <filter-name>sessionFilter</filter-name>
    <filter-class>com.neuedu.XiaoRyi.Filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>managerSessionFilter</display-name>
    <filter-name>managerSessionFilter</filter-name>
    <filter-class>com.neuedu.XiaoRyi.Filter.ManagerSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>managerSessionFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>disposeAskLeaveServlet</display-name>
    <servlet-name>disposeAskLeaveServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.DisposeAskLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disposeAskLeaveServlet</servlet-name>
    <url-pattern>/disposeAskLeaveServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disposeRetroactiveServlet</display-name>
    <servlet-name>disposeRetroactiveServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.DisposeRetroactiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disposeRetroactiveServlet</servlet-name>
    <url-pattern>/disposeRetroactiveServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageAccountServlet</display-name>
    <servlet-name>manageAccountServlet</servlet-name>
    <servlet-class>com.neuedu.XiaoRyi.Servlet.ManageAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageAccountServlet</servlet-name>
    <url-pattern>/manageAccountServlet.action</url-pattern>
  </servlet-mapping>
</web-app>