<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间(使用包名)，作用就是对sql进行分类化管理-->
<mapper namespace="com.neuedu.XiaoRyi.Mapper.Neu_ask_leaveMapper">
	
	<resultMap type="com.neuedu.XiaoRyi.pojo.Neu_Ask_Leave" id="map">
		<id column="ASK_LEAVE_ID" property="ask_leave_id"/>
		<result column="ASK_LEAVE_TIME_BEGIN" property="ask_leave_begin"/>
		<result column="ASK_LEAVE_TIME_END" property="ask_leave_end"/>
		<result column="ASK_LEAVE_TYPE" property="ask_leave_type"/>
		<result column="ASK_LEAVE_REASON" property="ask_leave_reason"/>
		<result column="ASK_LEAVE_ACCEPT" property="ask_leave_accept"/>
		<result column="M_ID" property="m_id"/>
		<result column="EMPNO" property="Empno"/>
	</resultMap>
	
	<!-- 参数ID,参数类型 #{}传递的参数 -->
	<!-- 添加 -->
	<insert id="add" parameterType="com.neuedu.XiaoRyi.pojo.Neu_Ask_Leave">
		INSERT INTO NEU_ASK_LEAVE_C ( ASK_LEAVE_ID,ASK_LEAVE_TIME_BEGIN,ASK_LEAVE_TIME_END,ASK_LEAVE_TYPE,ASK_LEAVE_REASON,ASK_LEAVE_ACCEPT,M_ID,EMPNO) 
		VALUES (SQ_NEU_ASK_LEAVE_ID.nextval,
		#{ask_leave_begin,jdbcType=BIGINT},
		#{ask_leave_end,jdbcType=BIGINT},
		#{ask_leave_type,jdbcType=VARCHAR},
		#{ask_leave_reason,jdbcType=VARCHAR},
		#{ask_leave_accept,jdbcType=BIGINT},
		#{m_id,jdbcType=BIGINT},
		#{Empno,jdbcType=BIGINT})
		
	</insert>
	
	<delete id="delete" parameterType="long">
		DELETE  
		FROM NEU_ASK_LEAVE_C
		WHERE ASK_LEAVE_ID = #{value}
	</delete>
	
	<update id="update" parameterType="com.neuedu.XiaoRyi.pojo.Neu_Ask_Leave">
		UPDATE NEU_ASK_LEAVE_C SET
		<trim prefixOverrides="," suffixOverrides=",">
			<if test="ask_leave_begin !=null">
				ASK_LEAVE_TIME_BEGIN=#{ask_leave_begin,jdbcType=BIGINT},
			</if>
			<if test="ask_leave_end !=null">
				ASK_LEAVE_TIME_END=#{ask_leave_end,jdbcType=BIGINT},
			</if>
			<if test="ask_leave_type!=null">
				ASK_LEAVE_TYPE=#{ask_leave_type,jdbcType=VARCHAR},
			</if>
			<if test="ask_leave_reason!=null">
				ASK_LEAVE_REASON=#{ask_leave_reason,jdbcType=VARCHAR},
			</if>
			<if test="ask_leave_accept!=null">
				ASK_LEAVE_ACCEPT=#{ask_leave_accept,jdbcType=BIGINT},
			</if>
			<if test="m_id!=null">
				M_ID=#{m_id,jdbcType=BIGINT},
			</if>
			<if test="Empno!=null">
				EMPNO=#{Empno,jdbcType=BIGINT},
			</if>
		</trim>
		WHERE ASK_LEAVE_ID=#{ask_leave_id,jdbcType=BIGINT}
	</update>
	<!-- 根据ID查询 -->
	<select id="findById" parameterType="long" resultMap="map">
		SELECT ASK_LEAVE_ID,ASK_LEAVE_TIME_BEGIN,ASK_LEAVE_TIME_END,ASK_LEAVE_TYPE,ASK_LEAVE_REASON,ASK_LEAVE_ACCEPT,M_ID,EMPNO 
		FROM NEU_ASK_LEAVE_C
		WHERE ASK_LEAVE_ID = #{value}
		
	</select>
	
	<!-- 查询所有 -->
	<select id="findAll" resultMap="map">
		SELECT ASK_LEAVE_ID,ASK_LEAVE_TIME_BEGIN,ASK_LEAVE_TIME_END,ASK_LEAVE_TYPE,ASK_LEAVE_REASON,ASK_LEAVE_ACCEPT,M_ID,EMPNO 
		FROM NEU_ASK_LEAVE_C
	</select>
	
	<!-- 分页查询 -->
	<select id="findByPage" resultMap="map">
	SELECT RN,ASK_LEAVE_ID,ASK_LEAVE_TIME_BEGIN,ASK_LEAVE_TIME_END,ASK_LEAVE_TYPE,ASK_LEAVE_REASON,ASK_LEAVE_ACCEPT,M_ID,EMPNO 
		FROM (SELECT ROWNUM RN,ASK_LEAVE_ID,ASK_LEAVE_TIME_BEGIN,ASK_LEAVE_TIME_END,ASK_LEAVE_TYPE,ASK_LEAVE_REASON,ASK_LEAVE_ACCEPT,M_ID,EMPNO 
			FROM NEU_ASK_LEAVE_C )
		WHERE RN BETWEEN (#{page}-1)*(#{total}+1) AND (#{page})*(#{total})
		
	</select>
	
	<!-- 根据实例查询 -->
	<select id="findByExample" parameterType="com.neuedu.XiaoRyi.pojo.Neu_Ask_Leave" resultMap="map">
		SELECT ASK_LEAVE_ID,ASK_LEAVE_TIME_BEGIN,ASK_LEAVE_TIME_END,ASK_LEAVE_TYPE,ASK_LEAVE_REASON,ASK_LEAVE_ACCEPT,M_ID,EMPNO 
		FROM NEU_ASK_LEAVE_C 
		<where>
			<if test="ask_leave_begin !=null ">
				AND ASK_LEAVE_TIME_BEGIN=#{ask_leave_begin,jdbcType=BIGINT}
			</if>
		
			<if test="ask_leave_end !=null ">
				AND ASK_LEAVE_TIME_END=#{ask_leave_end,jdbcType=BIGINT}
			</if>
		
			<if test="ask_leave_type !=null ">
				AND ASK_LEAVE_TYPE=#{ask_leave_type,jdbcType=VARCHAR}
			</if>
		
			<if test="ask_leave_reason !=null ">
				AND ASK_LEAVE_REASON=#{ask_leave_reason,jdbcType=VARCHAR}
			</if>
		
		
			<if test="ask_leave_accept !=null ">
				AND ASK_LEAVE_ACCEPT=#{ask_leave_accept,jdbcType=BIGINT}
			</if>
		
			<if test="m_id !=null ">
				AND M_ID=#{m_id,jdbcType=BIGINT}
			</if>
		
			<if test="Empno !=null ">
				AND EMPNO=#{Empno,jdbcType=BIGINT}
			</if>
		</where>
		
		
		
	</select>
	
</mapper>